@font-face {
    font-family: "fontGame";
    src: url("../assets/Pony.ttf")
}

.game {
    font-family: fontGame;
    background-image: url("../assets/bgGame.png");
    width: 100%;
    height: 100%;
    position: fixed;
    /* background-position: top center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.btnGame {
    width: 200px;
    height: 200px;
    font-size: 50px;
    background-color: rgb(82, 108, 238);
    color: white;
    border: 5px solid rgb(82, 238, 98);
    border-radius: 20px;
}

@media only screen and (max-width: 660px) {
    .btnGame {
        width: 160px;
        height: 160px;
        font-size: 50px;
        background-color: rgb(82, 108, 238);
        color: white;
        border: 5px solid rgb(82, 238, 98);
        border-radius: 20px;
        text-align: center;
    }
}
@media only screen and (max-width: 520px) {
    .btnGame {
        width: 140px;
        height: 140px;
        font-size: 50px;
        background-color: rgb(82, 108, 238);
        color: white;
        border: 5px solid rgb(82, 238, 98);
        border-radius: 20px;
    }
}
@media only screen and (max-width: 400px) {
    .btnGame {
        width: 120px;
        height: 120px;
        font-size: 50px;
        background-color: rgb(82, 108, 238);
        color: white;
        border: 5px solid rgb(82, 238, 98);
        border-radius: 20px;
    }
}

.hinhanh-xucxac {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 720px) {
    .hinhanh-xucxac {
        width: 80px;
        height: 80px;
    }
}
@media only screen and (max-width: 580px) {
    .hinhanh-xucxac {
        width: 60px;
        height: 60px;
    }
}

.txt-thongtin-trochoi {
    font-size: 42px;
}

@media only screen and (max-width: 860px) {
    .txt-thongtin-trochoi {
        font-size: 30px;
    }
}
@media only screen and (max-width: 560px) {
    .txt-thongtin-trochoi {
        font-size: 24px;
    }
}


.btnPlay {
    margin-top: 5px;
    padding: 15px 30px;
    color: white;
    background-color: rgb(82, 238, 98);
    border: 1px solid rgb(82, 238, 98);
    border-radius: 10px;
    font-size: 24px;
}